header {
  background-color: #333;
  color: whitesmoke;
  padding: 1rem;

  a {
    color: whitesmoke;
    padding: 0 1rem;

    &.active {
      color: tomato;
    }
  }
}

main {
  padding: 1rem;
}
